<!DOCTYPE html>
<html>
  <head>
    <title>Appointment</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <style>
      html {
        height: 100%;
      }
      body {
        background-image: linear-gradient(
          90deg,
          rgba(29, 151, 108, 1) 0%,
          rgba(147, 249, 185, 1) 100%
        );
      }
      .register {
        background-color: white;
      }
    </style>
  </head>
  <body>
    <div class="w3-bar w3-card-4">
      <h2
        class="w3-bar-item"
        style="font-family: 'Fredoka One', cursive;margin-left: 510px;"
      >
        eAppointment
      </h2>
    </div>
    <div class="w3-display-middle register w3-card-4 w3-round-large">
      <div class="w3-container">
        <h2>Book Appointment</h2>
      </div>
      <form method="POST" class="w3-container">
        <label><b>Dates Available</b></label>
        <select class="w3-select w3-margin-bottom" name="dates" id="dates">
          {% for i in dates %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
        <label><b>Which one of it is your severe symptom</b></label>
        <select
          id="symptoms"
          class="w3-select w3-margin-bottom"
          name="symptoms"
        >
          <option value="0">Fever</option>
          <option value="1">Head Pain</option>
          <option value="2">Chest Pain</option>
          <option value="3">Sick(Vomit)</option>
          <option value="4">Weak</option>
        </select>
        <button class="w3-button w3-black w3-round" type="submit">Book</button>
        <p>{{ message }}</p>
      </form>
    </div>
  </body>
</html>
