<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <style>
      html {
        height: 100%;
      }
      body {
        background-image: linear-gradient(
          90deg,
          rgba(29, 151, 108, 1) 0%,
          rgba(147, 249, 185, 1) 100%
        );
      }
      .register {
        background-color: white;
      }
    </style>
  </head>
  <body>
    <div class="w3-display-middle register  w3-card-4 w3-round-large">
      <div class="w3-container">
        <h2>Register</h2>
      </div>
      <form method="POST" class="w3-container">
        <label for="name">Name</label>
        <input
          name="name"
          class="w3-input w3-margin-bottom"
          id="name"
          type="text"
        />
        <label for="username">Username</label>
        <input
          name="username"
          class="w3-input w3-margin-bottom"
          id="username"
          type="text"
        />
        <label for="password">Password</label>
        <input
          name="password"
          class="w3-input w3-margin-bottom"
          id="password"
          type="password"
        />
        <input
          type="radio"
          type="w3-input"
          name="type"
          id="doctor"
          value="doctor"
        />
        <label for="Doctor">Doctor</label> <br />
        <input
          type="radio"
          type="w3-input"
          name="type"
          id="patient"
          value="patient"
        />
        <label for="patient">Patient</label> <br />
        <button class="w3-button w3-round w3-black w3-margin-top" type="submit">
          Submit
        </button>
        <p>{{ message }}</p>
      </form>
    </div>
  </body>
</html>
